# Operating System folders and files for ignore
desktop.ini

# Personal folders and files for ignore
_Pending

# Proteus folders and files for ignore
Project Backups
*.workspace
*.BMP

# Arduino IDE folders and files for ignore
*.elf
*.bin
*.ino.with_bootloader.hex



